extends layout

block more_stylesheet
  link(rel="stylesheet", href="/stylesheets/index.css")

block content

  div.content-website
    div.container.px-2.px-md-3

      include partial/navbar.pug

      include partial/ads/ads_top_banner_home.pug

      include partial/filter.pug

      include partial/movie_list.pug

      include partial/ads/ads_footer_banner_home.pug

      include partial/footer.pug

block more_script
  script.
    var reqType = #{reqType != undefined ? "'" + reqType + "'" : "''"};
    var reqCategory = #{reqCategory != undefined ? "'" + reqCategory + "'" : "''"};
    var reqYear = #{reqYear != undefined ? "'" + reqYear + "'" : "''"};
    var reqQuality = #{reqQuality != undefined ? "'" + reqQuality + "'" : "''"};
    var reqPage = #{reqPage != undefined ? "'" + reqPage + "'" : "''"};

  script(src="javascripts/index_javascript.js")

  script(src="javascripts/home_ads_click.js")